<html>
    <body>
        <div class='wrapper'>
            <p>{{ "Recibimos una solicitud de verificación de correo electrónico de registro de paciente de esta dirección de correo electrónico en"|xlt }} {{ email|text  }}</p>
            <p>{{ "Sin embargo, no puede utilizar este correo electrónico para el registro de pacientes ya que ya se está utilizando."|xlt }}</p>
            <p>{{ "Sugiero ponerse en contacto con hola@epa-bienestar.com si necesita orientación."|xlt }}</p>
            <p>{{ "Ignore este correo electrónico si no lo hizo."|xlt }}</p>
            <p>{{ "Gracias."|xlt }}</p>
        </div>
    </body>
</html>
